<h1>Hello, alex!</h1>
    <ul>
        <% @articles.each do |article| %>
            <li>
                <%= article.title %>
            </li>
        <% end %>
        <a href="https://www.w3schools.com/%22%3EVisit W3Schools</a>
    </ul>
