<p>
  <strong>Title:</strong>
  <%= section.title %>
  <strong>Tag:</strong>
  <%= section.tag %>
</p>
<p>
  <strong>Body:</strong>
  <%= section.body %>
</p>
  <p>
    <%= link_to "DELETE", [section.word, section], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
  </p>