<%= render "links/menuBar" %>
<h1>The Generator</h1>
<p>This is we keep your text documentation and styling for your webiste as well as the final products of each webiste you created.</p>
<p>To start writing your own documentation and adding images to your website select NEW WORDS.</p>
<p>To add style to your website select NEW PAGE.</p>
<p>After you have created both a WORD and PAGE, combine them together by selecting NEW PRODUCT.</p>
<p>Each section will contain a list of the WORDS, PAGES, and PRODUCTS you have created!</p>
<h4 title="This is a list of the HTML content you have created."> My Words:</h4>
<ul>
  <% @words.each do |word| %>
    <li>
		<%= link_to word.title, word %>
    </li>
  <% end %>
</ul>
<a href="http://localhost:3000/words/new">NEW WORD</a><br>

<h4 title="This is a list of the stylesheets you have created."> My Pages:</h4>
<ul>
  <% @pages.each do |p| %>
    <li>
      <%= link_to p.title, p %>
    </li>
  <% end %>
</ul>
<a href="http://localhost:3000/pages/new">NEW PAGE</a><br>

<h4 title="This is the final product where you combine your HTML with your stylesheet."> My Products:</h4>
<ul>
  <% @products.each do |p| %>
    <li>
      <%= link_to p.title, p %>
    </li>
  <% end %>
</ul>
<a href="http://localhost:3000/products/new">NEW PRODUCT</a>