<a href="http://localhost:3000">HOME</a>
<h1>My Pages</h1>
<a href="http://localhost:3000/pages/new">NEW</a>
<a href="http://localhost:3000/words">NEW WORDS</a>
<h4> My Pages:</h4>
<ul>
  <% @pages.each do |p| %>
    <li>
      <%= link_to p.title, p %>
    </li>
  <% end %>
</ul>

