<%= render "menuBar", page: @Page %>
<h1>The Generator</h1>
<p>Hover over "My Words", "My Pages" or "My Product" for more info!</p>
<h4 title="This is a list of the stylesheets you have created."> My Words:</h4>
<ul>
  <% @words.each do |word| %>
    <li>
		<%= link_to word.title, word %>
    </li>
  <% end %>
</ul>
<a href="http://localhost:3000/words/new">NEW WORD</a><br>

<h4 title="This is a list of the HTML content you have created."> My Pages:</h4>
<ul>
  <% @pages.each do |p| %>
    <li>
      <%= link_to p.title, p %>
    </li>
  <% end %>
</ul>
<a href="http://localhost:3000/pages/new">NEW PAGE</a><br>

<h4 title="This is the final product where you combine your HTML with your stylesheet."> My Products:</h4>
<ul>
  <% @products.each do |p| %>
    <li>
      <%= link_to p.title, p %>
    </li>
  <% end %>
</ul>
<a href="http://localhost:3000/products/new">NEW PRODUCT</a>