<%= render "links/menuBar" %>
<h1>New Page</h1>
<p>This is where we will start adding some styling and color to your webiste.</p>
<p>Fill out the form to apply the styling and colors you would like for your website. When you are done, click the 'Create Page' button at the bottom.</p>

<%= render "form", page: @page %>