<a href="http://localhost:3000">HOME</a><br>
<a href="http://localhost:3000/scrapes">SCRAPES</a>
<h1>Welcome to the Scraper</h1>
<h3>My Scrapes:</h3>
<ul>
  <% @scrapes.each do |s| %>
    <li>
      <%= link_to s.title, s %>
    </li>
  <% end %>
</ul>

<%= link_to "New Scrape", new_scrape_path %>

