<%= render "links/menuBar" %>
<h1>Welcome to the Scraper</h1>
<p>To get started, select the 'NEW SCRAPE' link below and a form will appear for you to fill out.</p>
<p>The Site currently works with: https://books.toscrape.com/</p>
<h3>My Scrapes:</h3>
<ul>
  <% @scrapes.each do |s| %>
    <li>
      <%= link_to s.title, s %>
    </li>
  <% end %>
</ul>

<%= link_to "NEW SCRAPE", new_scrape_path %>

