<%= render "menuBar", link: @Link %>
<h1>Welcome To Pirate Builder!</h1>
<p>This website offers a static webpage generator and a web scraper.</p>
<p>Follow the directions below for what you would like to do:</p>
<h3>Website Generator & Scraper</h3>
<p>Click GENERATOR to create your own a website.</p>
<p>Click SCRAPER to scrape a website.</p>
<a href="http://localhost:3000/responses">TAKE THE SURVEY</a>
