<%= render "menuBar", link: @Link %>
<h1>Welcome!</h1>
<p>This is a website that where you can create your own custom website by filling out our forms or using our web scraper.</p>
<p>Follow the directions below for what you would like to do:</p>
<h3>Website Generator & Scraper</h3>
<p>Click GENERATOR to create your own a website.</p>
<p>Click SCRAPER to scrape a website. (NOTE: The SCRAPER is currently unavailable)</p>
<a href="http://localhost:3000/responses">TAKE THE SURVEY</a>