<%= render "menuBar", link: @Link %>
<h1>New Word</h1>
<p>This is where we will get started creating your new WORD document for your website.</p>
<p>Start by entering the header title to your document, you can also add an image if you like.</p>
<%= render "form", word: @word %>