<%= render "menuBar", link: @Link %>
<h1>Hello Products!</h1>
<ul>
  <% @products.each do |p| %>
    <li>
      <%= link_to p.id, p %>
    </li>
  <% end %>
</ul>
<%= link_to "NEW PRODUCT", new_product_path %>
