<%= render "menuBar", link: @Link %>
<h1>New Product</h1>
<p>This is where we will combine your WORD and PAGE together to create your very own website!</p>
<p>Add a name to your final product and select a one WORD and one PAGE. When you are ready, click the 'Create Product' button and your website will be generated!</p>

<%= render "form", product: @product %>